///// FONTS /////
$font-display: 'Roboto', sans-serif;
$font-primary: 'Open Sans', sans-serif;

///// COLORS /////
$color-grey-dark: #1f1f1f;
$color-grey-light: #777;
$color-primary: #007BAD;
$color-white: #fff;
$color-invalid: #ff7730;
$color-valid: #55c57a;

///// SHADOWS /////
$shadow-light: .5rem .5rem 2rem rgba(0,0,0,.3);
$shadow-input: 0 0 2rem rgba(0,0,0,.3);
$img-shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
$img-shadow-large: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);


$header-height: 7rem;
