.composition {
    width: 60%;
    max-height: 70vh;
    min-height: 30rem;
    position: relative;

    &__img {
        position: absolute;
        width: 55%;
        box-shadow: $img-shadow-light;
        transition: all .7s;

        @include respond(tab-land) { // width < 1200px
            width: 45%;
        }

        &--1 {
            top: 0;
            left: 10%;
            z-index: 10;

            @include respond(tab-land) { // width < 1200px
                left: 15%;
            }

            @include respond(tab-port) { // width < 1200px
                top: 5%;
            }
        }

        &--2 {
            top: 5rem;
            right: 0;
            z-index: 9;

            @include respond(tab-port) { // width < 1200px
                right: -5%;
            }
        }

        &--3 {
            top: 40%;
            left: 30%;
            z-index: 8;

            @include respond(tab-land) { // width < 1200px
                top: 30%;
            }
        }

        &:hover {
            z-index: 30;
            transform: scale(1.2);
            outline: 1.5rem solid $color-primary;
            outline-offset: 1rem;

            @include respond(tab-land) { // width < 1200px
                transform: scale(1.1);
            }
        }
    }
}