.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding: 1rem .5rem;

    border-radius: 5px;
    box-shadow: $shadow-light;

    transition: all .3s;


    &__icon {
        width: 5rem;
        height: 5rem;
    }

    &__heading {
        margin: 2rem 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        font-family: $font-display;
        font-weight: 500;
        color: $color-primary;
        font-size: 2rem;
    }

    &__text {
        text-align: center;
        
    }

    &:hover,
    &:active {
        transform: translateY(-1rem) scale(1.05);
    }
    &:hover,
    &:active &__icon {
        fill: $color-primary;
    }
}