.work {
    

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: $shadow-light;
    overflow: hidden;

    &__img-box {
        overflow: hidden;
    }

    &__img {
        width: 100%;

        transition: all 1.5s;
    }

    &__model {
        transform: translateY(-50%);
        width: 80%;
        background-color: $color-primary;
        text-align: center;
        padding: 1rem;
        font-family: $font-display;
        font-size: 2rem;
        font-weight: 500;
        color: $color-white;
    }

    &__description {
        padding-bottom: 1rem;
    }

    &:hover &__img {
        transform: scale(1.2);
    }
}